version: '{build}'
skip_tags: true
image: Visual Studio 2022
build_script:
- ps: ./Build.ps1
test: off
artifacts:
- path: artifacts/Seq.Extensions.Logging.*.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: QYBIGd/prsJud8qlJati9FdnXbiA0VvyxO1z0TUiQV3svdpbD7ZaykJFTYKyIdQq
  skip_symbols: true
  on:
    branch: /^(main|dev)$/
